@import "~bootstrap/scss/bootstrap";

.homelink {
    color: #FFF;
    text-decoration: none;
}
.homelink:hover {
    color: #FFF
}
.homelink:visited {
    color: #FFF
}

.noUnderline {
    text-decoration: none;
}


a:hover {
    color: #FFF
}