@import "~bootstrap/scss/bootstrap";

.homelink {
    color: #FFF;
    text-decoration: none;
}
.homelink:hover {
    color: #FFF
}
.homelink:visited {
    color: #FFF
}

.noUnderline {
    text-decoration: none;
}
.noUnderline.hover {
    color: #000;
    background-color: #FFF;
    text-decoration: none;
}

.showlink {
    color: #000;
    text-decoration: none;
}
.showlink:hover {
    color: #FFF
}


a:hover {
    color: #FFF
}
